{% extends "store/base.html" %}
{% load static %}


{% block content %}




<div class="custom">
    
    <div class="custom__intro">
        <span class="custom__intro--title light300italic">Permítanos asociarnos con usted en su próximo proyecto</span>
        <span>¿Necesitas personalizar tu equipo? Danos una oportunidad.</span>
        <span>Nuestro equipo comprende décadas de experiencia. Si usted es un individuo que busca personalizar un solo sombrero o si es una empresa o escuela que necesita equipo de alta calidad, podemos ayudarlo.
        </span> 
        <span>
            Por favor llame o envíe un correo electrónico para consultas. Las personas sin cita son siempre bienvenidas.        
        </span>
        
 
        <div class="custom__gallery">
           <span>GALLERY COMING SOON...</span> 
        </div>
    </div>
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none">
    <polygon points="0,150 200,0 200,200 0,200"/>
  </svg>




</div>



{% endblock %}