.header {
  font-family: "Helvetica-bold";
  color: white;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  // padding: 0 2rem;
  height: 7rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);

  &__messages {
    visibility: visible;
    list-style-type: none;
    font-size: 1rem;
    background-color: white;
    color: black;
    position: absolute;
    padding: 1rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    border-radius: 2px;
    z-index: 100;
  }

  &__title {
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 2rem;
    margin-left: 0.5rem;
  }

  &__logo {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
    gap: 0.4rem;

    &--cart-itemsInCart {
      position: absolute;
      bottom: -5px;
      font-size: 1rem;
      right: 5px;
      color: rgb(92, 4, 4);
      display: block;
      text-align: center;
      font-weight: 300;
    }

    &--cart,
    &--contact {
      z-index: 10;
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 490px) {
        height: 2rem;
        width: 2rem;
      }

      & img {
        display: block;
        align-self: start;
        z-index: 20;
        border-radius: 2px;
        height: 2.5rem;
        width: 2.5rem;
      }
      &::after {
        content: "";
        border-radius: 2px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 0;
        left: 0;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: -5;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        background-color: rgba(177, 0, 0, 0.829);
        top: 2px;
        left: 0;
      }

      &:active {
        transform: translateY(3px);
        &::before {
          top: 0px;
        }
      }
    }
    &--contact {
      & img {
        align-self: center;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}

.newHeights {
  background-color: #e6eec896;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 0;

  &__felicidad {
    background-color: black;
    height: 50vw;
    width: 100%;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @media only screen and (max-width: 490px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__doggy {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #e6eec896;
    border-top: 10px double black;
    position: relative;
    gap: 1rem;

    & img {
      height: 10rem;
      display: block;
    }
  }
}
