nav {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  background: black;
  z-index: 1;
}

.group {
  margin: 0 auto;
  padding-top: 5px;
}

.tabs li {
  /* Makes a horizontal row */
  float: left;
  list-style-type: none;

  /* So the psueudo elements can be
       abs. positioned inside */
  position: relative;
}
.tabs a {
  /* Make them block level
       and only as wide as they need */
  float: left;
  padding: 5px 10px;
  padding-bottom: 1rem;
  text-decoration: none;
  z-index: 10;

  /* Default colors */
  color: #e5e5e5;
  background: #222;

  /* Only round the top corners */
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tabs .active {
  /* Highest, active tab is on top */

  z-index: 3;
}
.tabs .active a {
  /* Colors when tab is active */
  background: #e5e5e5;
  color: black;
}
.tabs li:before,
.tabs li:after,
.tabs li a:before,
.tabs li a:after {
  /* All pseudo elements are 
       abs. positioned and on bottom */
  position: absolute;
  bottom: 0;
}
/* Only the first, last, and active
     tabs need pseudo elements at all */
.tabs li:last-child:after,
.tabs li:last-child a:after,
.tabs li:first-child:before,
.tabs li:first-child a:before,
.tabs .active:after,
.tabs .active:before,
.tabs .active a:after,
.tabs .active a:before {
  content: "";
}
.tabs .active:before,
.tabs .active:after {
  background: #e5e5e5;

  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.tabs li:before,
.tabs li:after {
  background: #222;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;
}
.tabs li:after {
  right: -10px;
}
/* Circles */
.tabs li a:after,
.tabs li a:before {
  width: 20px;
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: black;

  /* Circles over squares */
  z-index: 2;
}
.tabs .active a:after,
.tabs .active a:before {
  background: #222;
}
/* First and last tabs have different
     outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
  background: black;
}
.tabs li a:before {
  left: -20px;
}
.tabs li a:after {
  right: -20px;
}

.fileTab a {
  font-size: 0.8rem;
  width: max-content;
  overflow-wrap: break-word;
}

#tab4 a,
#tab5 a {
  @media only screen and (max-width: 490px) {
    display: none;
  }
}

.tabs li:nth-child(3).active a:after {
  @media only screen and (max-width: 490px) {
    background: black;
  }
}

.tabs li:nth-child(3):after,
.tabs li:nth-child(3) a:after {
  @media only screen and (max-width: 490px) {
    content: "";
  }
}

.tabs li:last-child:after,
.tabs li:last-child a:after {
  @media only screen and (max-width: 490px) {
    background-color: black;
  }
}

.tabs .active:nth-child(4),
.tabs .active:last-child {
  @media only screen and (max-width: 490px) {
    display: none;
  }
}

.tabs li:last-child:after,
.tabs li:last-child a:after {
  @media only screen and (max-width: 490px) {
    display: none;
  }
}

// add 'y mas' to bottom of tab3
#tab3 {
  width: min-content;

  & a {
  }
}
